{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dhofar International Development &amp; Investment Holding Co. SAOG (DIDIC)</title>
    <meta name="description" content="">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{% static  './didic/images/favicon.png' %}">
    <link href="{% static  './didic/css/dhofar.css' %}" rel="stylesheet">
    <link href="{% static  './didic/css/owl.carousel .css' %}" rel="stylesheet">
    <link href="{% static  './didic/css/tabs.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    
    <!-- Preloader -->
    <script type="text/javascript" src="{% static  './didic/js/loader/jquery.min.js' %}"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(window).load(function () { // makes sure the whole site is loaded
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(150).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(150).css({ 'overflow': 'visible' });
        })
        //]]>
    </script>
</head>

<body>

    <!--preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!--/preloader -->
    <!-- header -->
    <header>
        <div class='k-animate' data-animation="showUp" data-anim-target="self" data-delay="100" data-speed="1500" data-ease="easeInOutQuart">
            <div class="wid">
                <!--logo-menu -->
                <div class="logo-menu">
                    <!--logo -->
                    <div class="logo"><a href="http://www.didic.org"> <img src="{% static  './didic/images/dhofar-logo.png' %}" alt=""></a> </div>
                    <!--/logo -->
                    <!--menu -->
                    <ul id="jetmenu" class="jetmenu">
                        <!--about us -->
                        <li>
                            <a href="#">About us</a>
                            <ul class="dropdown">
                                <li><a href="http://www.didic.org/Overview.html">Overview</a></li>
                                <li><a href="http://www.didic.org/Chairman_Message.html">Chairman's Message</a></li>
                                <li>
                                    <a href="#">Leadership</a>
                                    <ul class="dropdown">
                                        <li><a href="http://www.didic.org/Board_of_Directors.html">Board of Directors</a></li>
                                        <li><a href="http://www.didic.org/Key_Management_Personnel.html">Key Management Personnel</a></li>
                                        <li><a href="http://www.didic.org/Board_Committees.html">Board Committees</a></li>
                                    </ul>
                                </li>
                                <li><a href="http://www.didic.org/Vision_Mission_Values.html">Vision, Mission, Values</a></li>
                                <li><a href="http://www.didic.org/Our_Story.html">Our Story</a></li>
                                <li><a href="http://www.didic.org/Constitutional_Documents.html">Constitutional Documents</a></li>
                                <li><a href="http://www.didic.org/Corporate_Social_Responsibility.html">Corporate Social Responsibility</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Our Investments</a>
                            <ul class="dropdown">
                                <li><a href="http://www.didic.org/Associate_Companies.html">Associate Companies</a></li>
                                <li><a href="http://www.didic.org/Subsidiary_Companies.html">Subsidiary Companies</a></li>
                                <li><a href="http://www.didic.org/uc.html">Other Investments</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Investor Relations</a>
                            <ul class="dropdown">
                                <li>
                                    <a href="#">Financial Performance</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="#">Reports</a>
                                            <ul class="dropdown">
                                                <li><a href="http://www.didic.org/Annual-Report.html">Annual Report</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Financial Results</a>
                                            <ul class="dropdown">
                                                <li><a href="http://www.didic.org/At_a_Glance.html">At a Glance</a></li>
                                                <li><a href="http://www.didic.org/Quarterly-Results.html">Quarterly Results</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="http://www.didic.org/Corporate_Governance_Report.html">Corporate Governance Report</a></li>
                                    </ul>
                                </li>
                                <li><a href="http://www.didic.org/Investor_Presentation.html">Investor Presentation</a></li>
                                <li>
                                    <a href="#">General Meetings</a>
                                    <ul class="dropdown">
                                        <li><a href="http://www.didic.org/Annual_General_Meeting.html">Annual General Meeting</a></li>
                                        <li><a href="http://www.didic.org/ExtraOrdinary_General_Meeting.html">ExtraOrdinary General Meeting</a></li>
                                    </ul>
                                </li>
                                <li><a href="http://www.didic.org/Intimation_to_Stock_Exchange.html">Intimation to Stock Exchange</a></li>
                                <li><a href="http://www.didic.org/Rights_Issue_Prospectus.html">Rights Issue Prospectus</a></li>
                            </ul>
                        </li>
                        <li><a href="http://www.didic.org/Media_Room.html">Media Room</a></li>
                        <li>
                            <a href="#">Account</a>
                            <ul class="dropdown">
                                <li><a href="Login.html">Login</a></li>
                                <li><a href="#">Create an Account</a></li>
                            </ul>
                        </li>
                        <li><a href="http://www.didic.org/ContactUs.html">Contact US</a></li>
                    </ul>

                    <!--menu -->

                </div>
                <!--/logo-menu -->

            </div>
        </div>
    </header>
   
        
<div class="web-banner banner01" data-animation="fadeInLeft" data-anim-target="self" data-delay="100" data-speed="1500" data-ease="easeInOutQuart" style="opacity: 1; left: 0px;">
    <h1>
        Welcome to DIDIC
    </h1>
</div>
<div class="container">
    <link href="{% static  './didic/css/app.css' %}" rel="stylesheet">

    <div>
        {% block content %}


                                                      
        {% endblock %}
    </div>




</div>

   
    <!--/header -->
    <!--footer -->
    <footer>
        <div class="wid">
            <div class="footbox k-animate" data-animation="fadeInLeft" data-anim-target="self" data-delay="300" data-speed="1500" data-ease="easeInOutQuart">

                <img src="{% static  './didic/images/footlogo.png' %}" alt="" class="footlogo">

                <div class="foothead">Stay in touch with us</div>
                <div class="somedia">
                    <ul>
                        <li><a href="#"><img src="{% static  './didic/images/fb.png' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static  './didic/images/tw.png' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static  './didic/images/in.png' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static  './didic/images/inst.png' %}" alt=""></a></li>
                    </ul>
                </div>

            </div>

            <div class="footbox k-animate" data-animation="fadeInTop" data-anim-target="self" data-delay="300" data-speed="1500" data-ease="easeInOutQuart">

                <div class="foothead">About us</div>
                <ul class="footmenu">
                    <li><a href="http://www.didic.org/Overview.html">Overview</a></li>
                    <li><a href="http://www.didic.org/Chairman_Message.html">Chairman's Message</a></li>
                    <li>
                        <a href="#">Leadership</a>
                        <ul class="footmenu">
                            <li><a href="http://www.didic.org/Board_of_Directors.html">Board of Directors</a></li>
                            <li><a href="http://www.didic.org/Key_Management_Personnel.html">Key Management Personnel</a></li>
                            <li><a href="http://www.didic.org/Board_Committees.html">Board Committees</a></li>
                        </ul>
                    </li>
                    <li><a href="http://www.didic.org/Vision_Mission_Values.html">Vision, Mission, Values</a></li>
                    <li><a href="http://www.didic.org/Our_Story.html">Our Story</a></li>
                    <li><a href="http://www.didic.org/Constitutional_Documents.html">Constitutional Documents</a></li>
                    <li><a href="http://www.didic.org/Corporate_Social_Responsibility.html">Corporate Social Responsibility</a></li>
                </ul>

            </div>

            <div class="footbox k-animate" data-animation="fadeInBottom" data-anim-target="self" data-delay="300" data-speed="1500" data-ease="easeInOutQuart">

                <div class="foothead">Our Investments</div>
                <ul class="footmenu">
                    <li><a href="http://www.didic.org/Associate_Companies.html">Associate Companies</a></li>
                    <li><a href="http://www.didic.org/Subsidiary_Companies.html">Subsidiary Companies</a></li>
                    <li><a href="http://www.didic.org/Other_Investments.html">Other Investments</a></li>
                </ul>
                <div class="foothead">Media Room</div>
            </div>


            <div class="footbox k-animate" data-animation="fadeInTop" data-anim-target="self" data-delay="300" data-speed="1500" data-ease="easeInOutQuart">

                <div class="foothead">Investor Relations</div>

                <ul class="footmenu">
                    <li>
                        <a href="http://www.didic.org/Financial_Overview">Financial Performance</a>
                        <ul class="footmenu">
                            <li>
                                <a href="http://www.didic.org/Annual-Report.html">Annual Report</a>
                            </li>
                            <li>
                                <a href="#">Financial Results</a>
                                <ul class="footmenu">
                                    <li><a href="http://www.didic.org/Quarterly-Results.html">Quarterly Results</a></li>
                                </ul>
                            </li>
                            <li><a href="http://www.didic.org/Corporate_Governance_Report.html">Corporate Governance Report</a></li>
                        </ul>
                    </li>
                    <li><a href="http://www.didic.org/Investor_Presentation.html">Investor Presentation</a></li>
                    <li>
                        <a href="#">General Meetings</a>
                        <ul class="footmenu">
                            <li><a href="http://www.didic.org/Annual_General_Meeting.html">Annual General Meeting</a></li>
                        </ul>
                    </li>
                    <li><a href="http://www.didic.org/Intimation_to_Stock_Exchange.html">Intimation to Stock Exchange</a></li>
                    <li><a href="http://www.didic.org/Rights_Issue_Prospectus.html">Rights Issue Prospectus</a></li>
                </ul>
            </div>

            <div class="footbox k-animate" data-animation="fadeInBottom" data-anim-target="self" data-delay="300" data-speed="1500" data-ease="easeInOutQuart">

                <div class="foothead">Quick Links</div>

                <ul class="footmenu">
                    <li><a href="http://www.didic.org/Careers.html">Careers</a></li>
                    <li></li>
                    <li><a href="http://www.didic.org/LocationMap.html">Location Map</a></li>
                    <li><a href="http://www.didic.org/ContactUs.html">Contact Us</a></li>
                    <li><a href="http://www.didic.org/Privacy_Policy.html">Privacy Policy</a></li>
                    <li><a href="http://www.didic.org/Terms_of_use.html">Terms of use</a></li>
                </ul>
            </div>
        </div>
        <div class="footbtm">
            <div class="wid">Copy Right © 2020 Dhofar Holding</div>
        </div>
    </footer>
    <!--/footer -->
    <!-- js -->
    <script src="{% static './didic/js/classie.js' %}"></script>
    <script>
        function init() {
            window.addEventListener('scroll', function (e) {
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 40,
                    header = document.querySelector("header");
                if (distanceY > shrinkOn) {
                    classie.add(header, "smaller");
                } else {
                    if (classie.has(header, "smaller")) {
                        classie.remove(header, "smaller");
                    }
                }
            });
        }
        window.onload = init();
    </script>

    <!--data animation js -->
    <script type='text/javascript' src="{% static  './didic/js/animation/addons8a54.js?ver=1.0.0' %}"></script>
    <script type='text/javascript' src=" {% static  './didic/js/animation/s5.sequence5152.js?ver=1.0' %}"></script>

    <!--slider js -->
    <script src="{% static  './didic/js/slider/jquery-v1.10.2.min.js' %}" type="text/javascript"></script>
    <!--<script src="js/slider/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script> -->
    <script src="{% static  './didic/js/slider/hammer-v2.0.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static  './didic/js/slider/flickerplate.min.js' %}" type="text/javascript"></script>

    <!--Execute flickerplate-->
    <script>
        $(function () {
            $('.slider').flickerplate(
                {
                    auto_flick: true,
                    auto_flick_delay: 10,
                    flick_animation: 'transition-fade'//transition-slide, transform-slide, jquery-slide, scroller-slide, transition-fade, jquery-fade//
                });
        });
    </script>
    <script src="{% static  './didic/js/SimpleTabs.js' %}" type="text/javascript"></script>
    <!--<script src="js/scroller/jquery-1.9.1.min.js"></script> -->
    <script src="{% static  './didic/js/scroller/owl.carousel.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                navigation: true,
                margin: 10,
            });
            $("#brands").owlCarousel({
                navigation: true,
                margin: 10,
                items: 8,
            });

        });

    </script>
    <!--mega menu js -->
    <!--<script type="text/javascript" src="js/menu/jquery-1.10.1.min.js"></script>  -->
    <script type="text/javascript" src="{% static  './didic/js/menu/jetmenu.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $().jetmenu02();
        });
    </script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawVisualization);

        function drawVisualization() {
            // Some raw data (not necessarily accurate)
            var data = google.visualization.arrayToDataTable([
                ['Month', '', '', '', '', 'New', 'Average'],
                ['2004/05', 165, 938, 522, 998, 450, 614.6],
                ['2005/06', 135, 1120, 599, 1268, 288, 682],
                ['2006/07', 157, 1167, 587, 807, 397, 623],
                ['2007/08', 139, 1110, 615, 968, 215, 609.4],
                ['2008/09', 136, 691, 629, 1026, 366, 569.6]
            ]);

            var options = {
                title: 'Profit for the Year',
                vAxis: { title: 'Profit' },
                hAxis: { title: 'Year' },
                seriesType: 'line',
                series: { 5: { type: 'line' } }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }</script>


</body>
</html>
