{% extends './BaseTemp/base2.html' %}
{% load static %}

{% block content %}

	<div id="content" class="card mx-auto" style="max-width: 540px; margin: 40px;">
		<div class="">
            <div id="secureHideArea" class="container secureHideArea" role="main" tabindex="-1">
                <div><div class="fis-banner-danger"><table role="presentation"><tbody><tr><td><span class="icon-Error med-ic"></span></td><td><span class="message">
                    <b>{{error}}</b>
                </span></td></tr></tbody></table></div></div>
                <div class="row">
                    <h1 class="col-sm-12">Sign in to <span class="productName">.DIDIC</span></h1>
                </div>
                


<form id="credential" method="POST" action="{% url 'auth' %}" autocomplete="off">
    {% csrf_token %}
    <div class="form-group"></div>

<input id="orgId" name="orgId" type="hidden" value="380_071925444">
    <div class="form-group row"><label class="form-control-label col-sm-4" for="userId" id="LabeluserId">User ID:</label><div class="col-sm-6"><input id="userId" name="userId" type="text" value="" class="form-control  " maxlength="256"></div></div>

    <div class="form-group row">
        <div class="col-sm-6"><input type="submit" name="signin" id="signin" value="Continue" class="btn btn-primary"></div>
        <div class="col-sm-4"></div>
    </div>
</form>
    <hr>
   </div>

    
{%  endblock %}  


